param.http.type=groovy:it.ann("org.springframework.web.bind.annotation.RequestBody") != null ? "body" : "query"
param.name=groovy:it.ann("org.springframework.web.bind.annotation.RequestParam")?.value("value") ?: it.name()

enum.use.custom[groovy:it.isExtend("com.nio.pcp.training.manager.common.enums.ICodeEnum")]=code
field.advanced[@jakarta.validation.constraints.Pattern]=groovy:```
    return tool.toJson([pattern:it.ann("jakarta.validation.constraints.Pattern","regexp")])
```

field.ignore=groovy:it.hasDoc("ignored")
field.doc[@jakarta.validation.constraints.Pattern]=groovy:"\n正则校验："+ it.ann("jakarta.validation.constraints.Pattern","regexp")
field.required=@org.hibernate.validator.constraints.NotBlank
field.required=@org.hibernate.validator.constraints.NotEmpty
field.required=groovy:it.hasDoc("required")
field.mock[groovy:it.hasAnn("jakarta.validation.constraints.Size")&&it.jsonType().name()=="java.lang.String"]=groovy:```
    def ann = it.annMap("jakarta.validation.constraints.Size")
    if(ann.containsKey("min")&&ann.containsKey("max")){
        return "@string("+ann["min"]+","+ann["max"]+")"
    }else if(ann.containsKey("min")){
        return "@string("+ann["min"]+")"
    }else if(ann.containsKey("max")){
        return "@string(0,"+ann["max"]+")"
    }
```

field.advanced[groovy:it.hasDoc("size_max")]=groovy:```
    if(it.type().isCollection()){
        return tool.toJson([maxItems:it.doc("size_max")])
    }else{
        return tool.toJson([maxLength:it.doc("size_max")])
    }
```

field.advanced[groovy:it.hasDoc("size_min")]=groovy:```
    if(it.type().isCollection()){
        return tool.toJson([minItems:it.doc("size_min")])
    }else{
        return tool.toJson([minLength:it.doc("size_min")])
    }
```

# Max、Min  -advanced
field.advanced[groovy:it.hasDoc("min")]=groovy:```
    return [minimum:it.doc("min")]
```
field.advanced[groovy:it.hasDoc("max")]=groovy:```
    return [maximum:it.doc("max")]
```

class.doc[@io.swagger.v3.oas.annotations.tags.Tag]=groovy:```
    return it.ann("io.swagger.v3.oas.annotations.tags.Tag","name")
```
field.doc[@io.swagger.v3.oas.annotations.media.Schema]=groovy:```
                                                           return it.ann("io.swagger.v3.oas.annotations.media.Schema","description")
```
api.name[@io.swagger.v3.oas.annotations.Operation]=groovy:```
    return it.ann("io.swagger.v3.oas.annotations.Operation","summary")
```
